wave, au, aiff
------------------------------------

none


mp3
------------------------------------

 - jlayer-1.0.1-1.jar
   http://search.maven.org/#artifactdetails%7Ccom.googlecode.soundlibs%7Cjlayer%7C1.0.1-1%7Cjar

 - mp3spi-1.9.5-1.jar
   http://search.maven.org/#artifactdetails%7Ccom.googlecode.soundlibs%7Cmp3spi%7C1.9.5-1%7Cjar

 - tritonus_share-0.3.7-2.jar
   http://search.maven.org/#artifactdetails%7Ccom.googlecode.soundlibs%7Ctritonus-share%7C0.3.7-2%7Cjar


ogg
------------------------------------

 - jorbis-0.0.17-2.jar
   http://search.maven.org/#artifactdetails%7Ccom.googlecode.soundlibs%7Cjorbis%7C0.0.17-2%7Cjar

 - tritonus_jorbis-0.3.6.jar
   http://www.tritonus.org/plugins.html

 - tritonus_share-0.3.7-2.jar
   http://search.maven.org/#artifactdetails%7Ccom.googlecode.soundlibs%7Ctritonus-share%7C0.3.7-2%7Cjar


flac
-------------------------------------

 - jflac-1.3.jar
   http://sourceforge.net/projects/jflac/files/jflac/jflac-1.3/


